// temporary

body {
    background-color: red !important;
    color: white;
}

// --------------------

.App {
    height: calc(100vh - 90px);
    background-color: $lightGray;
}


.musicControls {
    background-color: $lighterGray;
    text-align: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
